//메인 페이지
.mainbanner {
  height: 550px;
  background: url("../img/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner {
  &:first-child{
    margin-top: 50px;
  }
}
